* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}


/* utility class */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}
/* /utility class */

/* main */

/* header */
/* /header */


/* /main */