* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  text-decoration: none;
  color: black;
}

/* utility class */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.active {
  display: block;
}
/* /utility class */

/* main */

.wrapper {

  height: 100vh;
  width: 70%;
  margin: auto;

}

/* header */

header {
  height: 10%;
}

.navbar {
  height: 100%;
  width: 100%;
  align-items: flex-end;
  margin-bottom: 0;
}


.navbar > div {
  width: 50%;
  height: 50%;
  align-items: center;
} 

/* navbar left */

.navbar_left > div {
  width: 15%;
  height: 100%;
  justify-content: center;
  font-size: 16px;
  align-items: center;
 
}
/* /navbar left */

/* navbar right */

.navbar_right > div {
  width: 15%;
  height: 100%;
  justify-content: center;
  font-size: 16px;
  align-items: center;

}

.navbar_right > .nav_buttons {

  width: 40%;
  justify-content: center;
}

.nav_buttons > button {
padding: 10px 20px;
border-radius: 10px;
margin: 0 10px;
border: 1px solid transparent;
}

.get_app {
  background-color: black;
  color: white;
}

button:hover {
  filter: contrast(80%);
}

/* /navbar right */

/* navbar_hover_menu */

.navbar_hover_menu {
width: 100%;
justify-content: flex-end;
}

.hover_menu {
  width: 50%;
}

.hover_menu > div {
  width: 15%;
}

.card_hover {
  height: ;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px,
  rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
  border-radius: 10px;
  width: 150%;
  justify-content: space-between;
  padding: 20px 15px;
  font-size: 16px;
}

.card_hover > a {
  padding: 10px 0;
}

/* /navbar_hover_menu */


/* /header */


/* /main */